*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
	
}

.header{
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #fff;
	font-size: 12px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
	padding: 70px 0;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}



.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login_content{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
	
}

.img img{
	width: 500px;
}

@media screen and (max-width: 1050px){
	.wrapper{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.wrapper{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login_content{
		justify-content: center;
	}
}